{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "simple-import-sort"],
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "overrides": [
    {
      "files": ["src/**/*.ts", "src/**/*.tsx"],
      "rules": {
        "prettier/prettier": [
          "error",
          {
            "endOfLine": "auto"
          }
        ],
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-empty-function": "off",
        "react/prop-types": "off",
        "react/jsx-no-useless-fragment": [
          "error",
          {
            "allowExpressions": true
          }
        ],
        "react/no-array-index-key": "error",
        "react-hooks/exhaustive-deps": [
          "warn",
          {
            "additionalHooks": "(useDebouncedCallback)"
          }
        ],
        "simple-import-sort/imports": [
          "error",
          {
            "groups": [
              ["^react", "^@?\\w"],
              ["^(@|components)(/.*|$)"],
              ["^\\u0000"],
              ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
              ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
              ["^.+\\.?(css)$"]
            ]
          }
        ],
        "simple-import-sort/exports": "error",
        "no-restricted-imports": [
          "error",
          {
            "patterns": ["@mui/*/*/*", "!@mui/material/test-utils/*"]
          }
        ]
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
